<!DOCTYPE html>
<html>
<head>
  <title>Basic Data Binding</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <img src="https://vuejs.org/images/logo.png" alt="Vue logo">
    <ul>
      <li v-for="name in names" v-text="name"></li>
    </ul>
    <input id="input" type="text" v-model="newName">
    <button v-on:click="addName">Add Name</button>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        names: ['Billy', 'Zelda', 'Link', 'MoMo'],
        newName: ''
      },
      methods: {
        addName() {
          this.names.push(this.newName)
          this.newName = ''
        }
      }
    })
  </script>
</body>
</html>
